.db {
  background-color: #d6f0ff;
  height: auto;
  width: 85vw;
  padding: 5vh;
  padding-right: 10vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
