html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.login {
  background-color: #d6f0ff;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.signin {
    padding-top: 50vh;
    padding-bottom: 10vh;
    font-size: 7.5vh;
    margin: 0;
    text-align: center;
}

.login__btn {
    padding: 20px;
    background-color: #4A7B9D;
    color: white;
    font-size: 4vh;
    width: 100%;
    border-radius: 20px;
}